# IntelliJ project files
.git
.idea
*.iml
*.out
*.pyc
venv
.sass-cache
gen
node_modules
*.log
.deploy*/
db.json
public/

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac:
.DS_Store
.Spotlight-V100
.Trashes