.article-wrap{
  margin-bottom: 30px;
  >div{
    margin-bottom: 8px;
  }
  .article-title{
    margin-bottom: 5px;
    border-bottom: 1px dashed @color-black;
    font-size: 18px;
    a:hover{
      color: @color-blue;
    }
  }
  .entry-meta{
    span{
      margin-right: 20px;
    }
  }
  .read-more:hover{
    border: 1px solid @color-blue;
    border-radius: 2px;
    background-color: @color-blue;
    color: @color-white;
  }
}