.post-wrap{
  font-size: 14px;
  //文章渲染
  p{
    margin: 0;
  }
  a{
    &:link,
    &:visited{
      color: @color-blue;
    }
  }
  blockquote{
    padding: 0 15px;
    border-left: 5px solid @color-gray;
    color: @color-gray;
  }
  p{
    img{
      width: 100%;
      height: auto;
    }
  }

  .post-title{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  .toc-article{
    ol,ul{
      list-style: none;
    }
  }
  .share-warp{
    .bdsharebuttonbox{
      float: right;
    }
  }
}