<div class="post-wrap about-wrap">
    <%- page.content %>
    <ul class="social">
    <li><a href="http://weibo.com/abcde6789ooo/" target="_blank"><i class="icon icon-weibo"></i></a></li>
    <li><a href="https://www.zhihu.com/people/reahink" target="_blank"><i class="icon icon-zhihu"></i></a></li>
    <li><a href="https://github.com/zqinmiao" target="_blank"><i class="icon icon-github"></i></a></li>
    </ul>
    <%- partial("_partial/comment") %>
</div>