<div class="post-wrap">
    <h2 class="post-title"><%- page.title %></h2>
    <%- page.content %>
    <div class="share-warp clearfix">
        <%- partial("_partial/share")%>
    </div>
    <%- partial("_partial/comment")%>
</div>
