#footer
  background: color-footer-background
  padding: 20px 0
  //border-top: 1px solid color-border
  color: #fff
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  text-align: center
  line-height: line-height
  font-size: 0.85em