*{
  box-sizing: border-box;
}

html {
  font: 12px/1.5 @font-yahei, @font-heiti, @font-songti, @font-tahoma, @font-arial;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fff;
}

/*清除浮动*/
.clearfix {
  *zoom: 1;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
    *zoom: 1;
  }
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fc {
  clear: both;
}
.fz {
  zoom: 1;
}

/*a标签link、visited、hover、active状态时的样式*/
a{
  &:link,
  &:visited{
    text-decoration: none;
    color: #333;
  }
  &:hover,
  &:active{
    text-decoration: none;
    outline-width: 0;
  }
}

ul{
  list-style: none;
  .reset-mp;
}
h1{
  .reset-mp;
}


#page {
  height: 500px;
  background-color: #3e3e3e;
}

/*引入文件*/
@import "variable";
@import "_partial/header";
@import "_partial/sidebar";
