/*@variable color
------------------------------------------------*/
@color-white: #fff;
@color-light-gray: #e5e5e5;
@color-gray: #767676;
@color-light-black: #333;
@color-black: #000000;

/*@variable font
------------------------------------------------*/
@font-yahei: "\5FAE\8F6F\96C5\9ED1";
@font-heiti: "\9ED1\4F53";
@font-songti: "\5b8b\4f53";
@font-tahoma: Tahoma;
@font-arial: Arial;

/*@variable general-width
------------------------------------------------*/
.default-width() {
  max-width: 960px;
  margin: auto;
}

/*@variable reset-margin-padding
------------------------------------------------*/
.reset-mp(){
  margin: 0;
  padding: 0;
}